<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlUnboundNsPrefix -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="bootstrap.php" beStrictAboutCoversAnnotation="true" beStrictAboutOutputDuringTests="true" beStrictAboutTodoAnnotatedTests="true" verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
      <exclude>tests/Year2015/DayTemplateTest.php</exclude>
      <exclude>tests/Year2016/DayTemplateTest.php</exclude>
      <exclude>tests/Year2017/DayTemplateTest.php</exclude>
      <exclude>tests/Year2018/DayTemplateTest.php</exclude>
      <exclude>tests/Year2019/DayTemplateTest.php</exclude>
      <exclude>tests/Year2020/DayTemplateTest.php</exclude>
      <exclude>tests/Year2021/DayTemplateTest.php</exclude>
      <exclude>tests/Year2022/DayTemplateTest.php</exclude>
    </testsuite>
    <testsuite name="no-slow">
      <directory>tests</directory>
      <exclude>tests/Year2015/Day10Test.php</exclude>
      <exclude>tests/Year2015/Day11Test.php</exclude>
      <exclude>tests/Year2015/Day13Test.php</exclude>
      <exclude>tests/Year2015/Day15Test.php</exclude>
      <exclude>tests/Year2015/Day17Test.php</exclude>
      <exclude>tests/Year2015/DayTemplateTest.php</exclude>
      <exclude>tests/Year2016/DayTemplateTest.php</exclude>
      <exclude>tests/Year2017/DayTemplateTest.php</exclude>
      <exclude>tests/Year2018/DayTemplateTest.php</exclude>
      <exclude>tests/Year2019/DayTemplateTest.php</exclude>
      <exclude>tests/Year2020/DayTemplateTest.php</exclude>
      <exclude>tests/Year2021/DayTemplateTest.php</exclude>
      <exclude>tests/Year2022/DayTemplateTest.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
