<?xml version="1.0" encoding="UTF-8"?>
<!--suppress XmlUnboundNsPrefix -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
            <exclude>tests/Year2015/DayTemplateTest.php</exclude>
            <exclude>tests/Year2016/DayTemplateTest.php</exclude>
            <exclude>tests/Year2017/DayTemplateTest.php</exclude>
        </testsuite>
        <testsuite name="no-slow">
            <directory>tests</directory>
            <exclude>tests/Year2015/Day10Test.php</exclude>
            <exclude>tests/Year2015/Day11Test.php</exclude>
            <exclude>tests/Year2015/Day13Test.php</exclude>
            <exclude>tests/Year2015/Day15Test.php</exclude>
            <exclude>tests/Year2015/Day17Test.php</exclude>
            <exclude>tests/Year2015/DayTemplateTest.php</exclude>
            <exclude>tests/Year2016/DayTemplateTest.php</exclude>
            <exclude>tests/Year2017/DayTemplateTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
